<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/favi.ico">
  <link rel="stylesheet" href="../css/index.css" />
  <title>Todo App</title>

</head>

<body>
  <div class="ok">
  <div class="container">
    <header>
      <img id="dp" src="../images/dp.png" alt="">
      <h1 class="heading">TODO Reminder</h1>
    </header>
    <hr>
    <br>
    

    <section class="home-section">
      <li>A DB Connected Todo App to manage your tasks </li>
    </section>
    <hr>
    <br>
    <section class="enter">
      <form class="" action="/" method="post">
        <input type="text" name="username" value="" placeholder="Enter your username" autocomplete="off">
        <button type="submit" name="button">Start</button>
      </form>
    </section>
    <hr>
    <br>
  </div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>


</body>
<footer>
  <div class="rounded-social-buttons">
    <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a class="social-button twitter" href="https://www.github.com/vijaygupta18" target="_blank"><i class="fab fa-github"></i></a>
    <a class="social-button linkedin" href="https://www.linkedin.com/vijaygupta18" target="_blank"><i class="fab fa-linkedin"></i></a>

    <a class="social-button instagram" href="https://www.instagram.com/vijayguptaa18" target="_blank"><i class="fab fa-instagram"></i></a>
    <a>Creator @ <a href="https://www.github.com/vijaygupta18" style="color: gold; ">Vijay</a></a>
   
  </div>
</footer>

</html>
