<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/favi.ico">
  <link rel="stylesheet" href="../css/index.css" />
  <title>Todo App</title>

</head>

<body>
  <div class="container">
    <header>
      <img id="dp" src="../images/dp.png" alt="">
      <h1 class="heading">TODO Reminder</h1>
    </header>
    <hr>
    <br>
    

    <section class="home-section">
      <li>A DB Connected Todo App to manage your tasks </li>
    </section>
    <hr>
    <br>
    <section class="enter">
      <form class="" action="/" method="post">
        <input type="text" name="username" value="" placeholder="Enter your username" autocomplete="off">
        <button type="submit" name="button">Start</button>
      </form>
    </section>
    <hr>
    <br>
    
</body>

</html>
